body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-light-color: #abf9fe;
  --primary-dark-color: #6ae4ff;
  --secondary-light-color: #ffa800;
  --secondary-dark-color: #ff5e00;
}

button {
  background-color: var(--secondary-light-color);
  /* transition: all 0.25s ease-in-out; */
}

button:hover {
  background-color: var(--secondary-dark-color);
}
